# ============================
# Dependencies
# ============================

node_modules


# ============================
# Environment
# ============================

.env
.env.*


# ============================
# Git
# ============================

.git
.gitignore


# ============================
# Documentation
# ============================

docs/


# ============================
# Tests
# ============================

tests/


# ============================
# Build Output
# ============================

dist/


# ============================
# IDE
# ============================

.vscode/
.idea/


# ============================
# Logs
# ============================

*.log
logs/